* {
    font-family: Jura;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --raspberry-r-1: black;
    --raspberry-l-1: black;
    --raspberry-light: #d12c55;
    --raspberry: #d12c55;
    --raspberry-clear: rgba(209, 44, 85, 0);
    --background-color: #111;
    --background-color-light: #222;
    --background-color-dark: #000;
    --secondary: #000;
}

body {
    margin: 0;
    background-color: black;
}

nav {
    width: 100vw;
    max-width: 100vw;
    height: 5vh;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    background-color: rgba(.1, .1, .1, .5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding-right: 10%;
    z-index: 10;
    box-shadow: 0px 2px 0px var(--raspberry);
}

button:hover {
    cursor: pointer;
}

#jam-icon {
    height: 5vh;
    width: 5vh;
    position: absolute;
    left: 0;
}

#jam-icon-svg {
    position: relative;
    margin: 5%;
    max-height: 90%;
}

.nav-toggle,
spacer {
    max-width: 85.2px;
    position: relative;
    height: 100%;
    padding: 0 20px;
    color: #AAA;
    background-color: var(--background-color-dark);
    border: none;
    outline: none;
    transition-duration: .3s;
}

.nav-toggle .svg-icon {
    fill: #AAA;
    width: inherit;
    height: inherit;
    z-index: 1;
}

svg {
    max-width: 85.2px;
    width: 85.2px;
    padding-left: 0;
    transition-property: padding-left;
    transition-duration: .2s;
    transform: scale(.7);
}

.navlabel {
    width: 100%;
    text-align: center;
    position: absolute;
    margin-left: -18px;
    margin-top: -500px;
    color: rgba(204, 204, 204, 0);
    transition: color .2s ease-in-out, margin-top 0s ease-in-out .2s;
    text-shadow: 0px 0px 10px black;
    font-weight: bold;
}

@media (orientation: landscape) {
    .nav-toggle:hover>.navlabel {
        transition: color .2s ease-in-out;
        color: rgba(204, 204, 204, 1);
        margin-top: 5px;
    }
    .nav-toggle:hover {
        box-shadow: 0px 2px 0 #CCC;
        background-color: var(--background-color-light);
        z-index: 100;
    }
    .project-tile:hover::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 3;
        outline-offset: -3px;
        outline-width: 3px;
        outline-style: solid;
        outline-color: var(--raspberry);
        cursor: link;
        cursor: pointer;
    }
    .project-tile:hover::after {
        color: black;
        content: "View";
        color: var(--raspberry);
        position: absolute;
        width: 100%;
        margin: 0 -100%;
        bottom: 0;
        z-index: 25;
        text-align: center;
        padding: 15px 0;
        font-weight: bold;
        font-size: 150%;
        cursor: pointer;
    }
    .project-tile:hover>img {
        transition-delay: .1s;
        transition-duration: .5s;
        filter: brightness(.2) blur(2px);
    }
    .project-tile:hover>p {
        transition-delay: .1s;
        transition-duration: .5s;
        margin-top: 0%;
    }
}

.current-page .navlabel {
    color: var(--raspberry);
    margin-top: 5px;
}

.nav-toggle:active {
    background-color: #0A0A0A;
    transition-duration: 0.1s;
}

.nav-toggle.current-page {
    background-color: var(--raspberry);
}

section {
    height: 100vh;
}

#welcome-section {
    background-color: var(--background-color);
}

#title-div {
    width: 100%;
    position: absolute;
    text-align: center;
    color: #CCC;
    top: 40vh;
    font-size: 3vw;
    padding: 10px 0px;
}

h1 {
    margin: 0;
}

.title:after {
    color: var(--raspberry);
    content: "Jam"
}

#subtitle {
    font-weight: 100;
    font-size: 60%;
}

.svg-icon g:not(:first-child) {
    display: none;
}

#projects {
    background-color: var(--background-color-dark);
    height: unset;
    padding: 5vh 0;
}

#my-projects {
    color: #AAA;
    font-weight: 100;
    display: flex;
    align-content: center;
}

#my-projects h1 {
    font-size: 3vw;
    padding: 7vh 0;
    width: 100%;
    text-align: center;
}

.project-tiles {
    max-width: 100%;
    max-height: 400px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.project-title {
    position: absolute;
    background-image: linear-gradient(black 0%, rgba(0, 0, 0, .7) 50%, rgba(0, 0, 0, 0));
    width: 100%;
    padding: 30px 0;
    text-align: center;
    margin: 0;
    color: #BBB;
    font-family: Jura;
    font-size: 140%;
    z-index: 2;
}

.project-tile:hover>.project-title {
    color: var(--raspberry);
}

.project-tile {
    width: 400px;
    height: 400px;
    flex-grow: 1;
    background-color: black;
    position: relative;
}

.project-tile p {
    position: absolute;
    top: 10%;
    z-index: 1;
    color: #aaa;
    font-size: 200%;
    padding: 5%;
    margin-top: -100%;
}

#view-more {
    margin-top: 4vh;
}

.button {
    padding: 1% 2%;
    width: unset;
    height: unset;
    color: var(--raspberry);
    font-weight: bold;
    font-size: 150%;
    border: none;
    display: block;
    margin: auto;
    box-shadow: 0 0 0 2px var(--raspberry);
    background-color: var(--raspberry-clear);
    transition: all .2s;
}

.button:hover {
    border: none;
    background-color: var(--raspberry);
    color: black;
    border-radius: 50px;
}

@media (orientation: portrait) {
    .nav-toggle:hover>.navlabel {
        transition: color .2s ease-in-out;
    }
    nav {
        height: 12vh;
    }
    .nav-toggle {
        max-width: 20vw;
        width: 20vw;
        padding: 0px;
    }
    .navlabel {
        font-size: 130%;
        margin-left: 0%;
        text-align: center;
    }
    .nav-toggle {
        max-width: 170px;
    }
    spacer {
        display: none
    }
    #title-div {
        top: 40vh;
        font-size: 6vw;
    }
    #my-projects h1 {
        font-size: 6vw;
    }
    .project-tiles {
        max-height: unset;
    }
    .project-tile {
        width: 50%;
        height: 50vw;
        overflow: hidden;
    }
    .project-title {
        width: 50vw;
    }
    #projects,
    .project-tiles {
        height: unset;
    }
    .project-image:hover,
    .project-title:hover+.project-image {
        /* transform: scale(1.2); */
    }
    .button {
        font-size: 200%;
        padding: 5%;
    }
    .button:active {
        border: none;
        background-color: var(--raspberry);
        color: black;
    }
}

.project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all .2s;
}

#linkedinbadge {
    position: fixed;
    bottom: 0;
    right: 0;
}